/* .login-title {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 29px;
  width: 100%;
  background-color: #162129;
  margin-bottom: 1rem;
}

form {
  display: flex;
  gap: 1rem;
  padding: 2rem 5rem;
  flex-direction: column;
}
form input {
  font-size: 14px;
  padding: 0.8rem;
}
form input[type="submit"] {
  width: 100%;
  background-color: #192b36;
}
.error-message {
  color: rgb(216, 73, 73);
} */

.input {
  @apply bg-elephant-950 p-2 text-sm border-b-2 border-elephant-800 focus:outline-none mb-2;
}
