@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.wrapper {
  border-radius: 5px;
  position: relative;
  border: 2px solid rgba(151, 151, 151, 0.39);
}
.login-title {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 29px;
  width: 100%;
  background-color: #162129;
  margin-bottom: 1rem;
}

form {
  display: flex;
  gap: 1rem;
  padding: 2rem 5rem;
  flex-direction: column;
}
form input {
  font-size: 14px;
  padding: 0.8rem;
}
form input[type="submit"] {
  width: 100%;
  background-color: #192b36;
}
